{{extend 'layout.html'}}
<center>
  <p>{{=image.date}}</p>
<h1>{{=image.title}}</h1>
<img width="100%"
     src="{{=URL('download', args=image.file)}}" />
</center>

<p>{{=MARKMIN(image.body)}}</p>

<h2>Wyposażenie:</h2>
<ul>
  {{for eq in equipment:}}
    <li>{{=eq.name}}</li>
  {{pass}}
</ul>

{{if len(comments):}}
  <h2>Komentarze</h2><p>
  {{for post in comments:}}
  <p><i>{{=post.date}} </i><b>{{=post.author}} </b> skomentował: {{=post.body}}</p>
  {{pass}}</p>
{{else:}}
  <h2>Nie ma jeszcze żadnego komentarza</h2>
{{pass}}
<h2>Skomentuj</h2>
{{=form}}